#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

h1{
  text-align: center;
}

input{
  text-align: center;
  width: 4em;
  height: 4em;
  justify-self: center;
  background-color: #d6cfab;
  border: none;
  border-radius: 10px;
  color: white;
}

#letterDisplay {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 4em);
  grid-template-rows: repeat(5, 1fr);
  gap: 0.3em;
  margin-top: 1em;
  font-size: large;
}

#KeyboardDisplay {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

div.keyboardRow {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.2em;

  button {
    width: 2em;
    height: fit-content;
    text-align: center;
    font-size: x-large;
    background-color: #A2BFE0;
    border-radius: 5px;
    border: 0.5px solid black;
    padding: 0.5em;
    color: white;

    &:hover {
      background-color: cornflowerblue;
    }

    &:active {
      transform: scale(0.95);
      background-color: lightskyblue;
    }

  }

  button[data-key='enter'] {
    width: 6.5em;
  }

  button[data-key='backspace'] {
    width: 6.5em;
  }
}


